{% extends 'main.html' %}
{% load static %}
{% block content %}

<section id="home" class="parallax-section">
    <div class="container">
         <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="home-img"></div>
            </div>

              <div class="col-md-6 col-sm-6">
                   <div class="home-thumb">
                        <div class="section-title">
                             <h4 class="wow fadeInUp" data-wow-delay="0.3s">Hola</h4>
                             <h1 class="wow fadeInUp" data-wow-delay="0.6s">Soy <strong>Adriano Candreva</strong> y pongo mi talento para concretar <b>todos tus sueños.</b></h1>
                             <p class="wow fadeInUp" data-wow-delay="0.9s"><p>Siempre supe que quería decorar, y sobre todo Crear Hogares. Pero en 1985 no sabía por donde empezar. La Dante Alingheri en Milano fue mi punto de partida, para luego en los años 90 ya radicado en Barcelona, trabajar con grandes decoradores, donde aprendí todo el "know how" que llevo conmigo.</p> 
                             <p>Cuando me preguntaron hace unos años en una revista “¿cuál es tu estilo?”, no dudé en responder una vasija de terracota con geranios, tapicerías, grandes ventanales y ladrillo a la vista, algo muy de la Toscana italiana, donde comencé mis primeros pasos.</p>
                             <p>Pero hoy puedo decirte que mi estilo lo marca mi cliente en cada casa, en cada idea, con sus necesidades e ilusiones. Soy simplemente una herramienta que está a tu disposición para manifestar tus sueños.</p>
                             <p>Te invito a que compartamos juntos el desafío de hacer de tu hogar, ese lugar diferente y único que tanto sueñas. Tener ilusiones es un milagro, no las dejes escapar.</p>
                              </p>
                             
                             <a href="/contacto.html" class="wow fadeInUp smoothScroll section-btn btn btn-success" data-wow-delay="1.4s">Charlemos</a>
                             
                        </div>
                   </div>
              </div>


         </div>
    </div>
</section>


{% endblock %}